 *{
   color: white;
 }
  @media (min-width: 992px) {
    .cuerpo {
      padding-top: 20px;
    }

  }

   .list-group-item{
    background: linear-gradient(#c51d41b2,#00000075);
      color: rgb(255, 255, 255);
      font-family: 'Pacifico',cursive;
    }

   .list-group{
       margin-top: 0px;
       margin-bottom: 20px;
       padding-top: 0px;
       box-shadow: 0px 0px 15px 1px black;
   }
       .list-group-item:hover{
       color: rgb(17, 207, 10);
       font-weight: bold;
       background: rgba(0, 0, 0, 0.5);
       transition: all .5s ease;


       }
       h2{
           text-align: center;
           padding: 10px;
           color: rgb(255, 255, 255);
           font-size: 1.5em;
           margin:0px;
        font-family: 'Frijole',cursive;
         border-radius: 10px;
         background: linear-gradient(#c51d41b2,#00000075);
         box-shadow: 0px 0px 15px 1px crimson;
         border-top-right-radius: 50%;
         border-top-left-radius: 50%;
       }

       .card {
         background: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.5));
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
         font-family: 'Pacifico',cursive;
       }
        .card:hover{
          box-shadow: 0px 4px 15px  black;
          transition: all .5s ease;
        }
       .card a {
         color: #00ff15b2
       }

       .card a:hover {
        color: #00ff15;
        text-decoration: none;
        font-weight: bolder;
        text-shadow: 0px 0px 15px chartreuse;
        transition: all .5s ease;
      }
.search-form .form-group {
  float: left !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0,0.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px ridge crimson;


}
.col-lg-3 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0px 0px 15px black;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  padding-bottom: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  color: chartreuse;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color:  crimson;
  left: initial;
  font-size: 14px;
}
.baila{
  width: 15%;
  height: 10%;
  max-width: 70px;
  max-height: 100px;
  height: auto;
 border-radius: 10px;
 border: 1px ridge rgb(241, 46, 85);
 box-shadow: 0px 0px 15px rgb(248, 39, 81);
}

.form-group select:focus{
  box-shadow: 0px 7px 15px crimson;
  transition: all .5s ease;
}
.form-group select{
  background: rgba(0, 0, 0, 0.5);
  border: crimson 2px ridge;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #11cf0ab3;
}
.card-footer button {
  border: ridge 2px  crimson;
  background: linear-gradient(#ac34489c,#dc143cc7);
   color: whitesmoke;
   margin-right: 10px;
}
.card-footer button:hover {
  color: white;
  text-shadow: 0px 0px 7px whitesmoke;
 border: 2px ridge crimson;
 box-shadow: 0px 0px 15px crimson;
 font-weight: bold;
}
.card-footer button[type="submit"] {
  border: ridge 2px chartreuse;
  background: rgba(21, 255, 0, 0.514);
  color: rgb(255, 255, 255);
  margin-right: 10px;

}
.card-footer button[type="submit"]:hover {
  box-shadow: 0px 0px 15px chartreuse;

}
.list-group img{
  width: 10%;
  max-width: 70px;
  height: auto;

}
