 *{
   color: white;
 }

 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  }

   .list-group-item{
    background: linear-gradient(#c51d41b2,#00000075);
      color: rgb(255, 255, 255);

      font-size: 18px;
      font-family: 'Oleo Script', cursive;
    }

   .list-group{
       margin-top: 10px;
       margin-bottom: 20px;
       padding-top: 0px;
       box-shadow: 0px 0px 15px 1px black;
   }
    .search-form label {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
     text-align:center;
     font-size:25px;
     text-shadow:0px 0px 10px chartreuse;
     font-family: 'Oleo Script', cursive;
     margin: 0px ;

    }
    h4 { border-top: 1px solid rgba(0, 0, 0, 0.125);
      margin-top: 10px;
      font-family: 'Oleo Script', cursive;
      font-size:28px;
      text-align:center;
    }

       .list-group-item:hover{
       color: rgb(16, 223, 205);
       text-shadow: 0px 0px 10px rgb(16, 223, 205);
       font-weight: bold;
       background: rgba(0, 0, 0, 0.5);
       cursor: pointer;
       transition: all .5s ease;
       }
       h2{
           text-align: center;
           padding: 0px;
           display:block;
           width: 100%;
           color: rgb(255, 255, 255);
           font-size: 1.5em;
           margin:10px;
         border-radius: 10px;
         background: linear-gradient(#c51d41b2,#000000ad);
         box-shadow: 0px 0px 15px 1px crimson;
         border-top-right-radius: 50%;
         border-top-left-radius: 50%;
         cursor: pointer;
       }

       .card {
         background: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.5));
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }
        .card img {
           border-radius: 50% ;
           box-shadow: 0px 0px 15px rgb(16, 223, 205);
          background: radial-gradient(rgba(16, 223, 205, 0.05),rgba(16, 223, 205, 0.4),rgba(0, 0, 0, 0.7));
           max-height:300px;
        }
        .card:hover{
          box-shadow: 0px 4px 15px  black;
          transition: all .5s ease;
        }
       .card button,input {
        font-family: 'Pacifico' , cursive;
        margin-top: 5px;
       }

       .card h4 {
        color: white;
        text-decoration: none;
        font-weight: normal;
        background: url(../../../assets/img/textbox.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
         font-family: 'Oleo Script', cursive;
        font-size: 30px;
        font-family: 'Pacifico' , cursive;
        text-shadow: 0px 0px 10px black;
        transition: all .5s ease;
      }
.col-lg-3 {
  background: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.5));
  border-radius: 16px;
  box-shadow: 0px 0px 15px black;
}
 .titulo{
        background: linear-gradient(#00000000,rgba(0, 0, 0,0.7));
        box-shadow: 0px 0px 15px 1px black;
       }
h2 img{
  width: 70%;

  max-width: 300px;

  height: auto;
 border-radius: 10px;

}
h5 {
  display: inline-block;
  padding :  12px;
  margin-right:5px;
  background: radial-gradient(rgba(220, 20, 60,0.05),rgba(220, 20, 60,0.6),rgb(0, 0, 0.7));
  text-shadow:0 0 10px chartreuse;
  color: white;
  border-radius:50%;
  box-shadow: 0 0 10px black;
  font-family:'Oleo Script', cursive;
  font-size:20px;
}

.card .card-text {
 background:rgba(0, 0, 0, 0.5);
 padding:5px;
box-shadow: 0 0 12px black;
 border-radius: 16px;
}

  h2 img {
    padding:0px;
    margin:0px;
  }
.form-group select:focus{
  box-shadow: 0px 7px 15px crimson;
  transition: all .5s ease;
}
.form-group select{
  background: rgba(0, 0, 0, 0.5);
  border: crimson 1px ridge;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px;
  color: #11cf0ab3;
}
.card-footer .btn-primary{

  border: ridge 2px  crimson;
  background: linear-gradient(#ac34489c,#dc143cc7);
   color: whitesmoke;
   margin-right: 10px;
   float:right;
}
.card-footer .btn-primary:focus,.card-footer .btn-secondary:focus, .confirm{
  outline :0 !important;
}
.card-footer .btn-primary:active,.card-footer .btn-secondary:active, .confirm:active{
 border:none;
}
.card-footer .btn-secondary{
  border: ridge 2px chartreuse;
  background: linear-gradient(rgba(21, 255, 0, 0.137),rgba(21, 255, 0, 0.788));
  color: rgb(255, 255, 255);
  float:right;
}
.card-footer .btn-primary:hover {
  color: white;
  text-shadow: 0px 0px 7px whitesmoke;
 border: 2px ridge crimson;
 box-shadow: 0px 0px 15px crimson;
 font-weight: bold;
}
.card-footer .btn-secondary{
  border: ridge 2px chartreuse;
  background: linear-gradient(rgba(21, 255, 0, 0.137),rgba(21, 255, 0, 0.788));
  color: rgb(255, 255, 255);
  margin-right: 10px;

}
.card-footer .btn-secondary:hover {
  box-shadow: 0px 0px 15px chartreuse;

}
.list-group img{
  width: 27px;
  height: auto;

}
.card-footer .disabled{
  background: linear-gradient(rgba(128, 128, 128, 0.39),gray);
  border-color: black;
  float:right;

}
.card-footer .disabled:hover{
 text-shadow:none;
box-shadow:none;
border-color:black;
font-weight: normal;

}

 .search-form {
   text-align: center;
  width:100%;
 }
 .card-footer .form-row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
 }
.search-form .container {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.search-form .container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: radial-gradient(rgba(9, 255, 0, 0.1),rgba(9, 255, 0, 0.4),rgba(0, 0, 0, 0.9));
  box-shadow: 0px 0px 10px chartreuse;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 chartreuse;
}
.search-form .container .search:hover {
  cursor: pointer;
}
.search-form .container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 2px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.search-form .container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.search-form .container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 40px;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(16, 223, 205);
  text-shadow: 0 0 10px rgb(16, 223, 205);
  padding: 0 0px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 6;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.search-form .container input:hover {
  cursor: pointer;
}
.search-form .container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.search-form .container input:focus ~ .search {
  right: -90%;
  background: radial-gradient(rgba(220, 20, 60, 0.4),rgba(220, 20, 60, 0.7),rgba(0, 0, 0, 1));
  z-index: 6;
  box-shadow: 0 0 25px 0 crimson;
}
.search-form .container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.search-form .container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-form .container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}


option:not(:checked) {
  background-color: rgba(0, 0, 0,0.7);
  color:chartreuse;
}
option:checked {
  background-color: black;
  color:rgb(16, 223, 61);
  text-shadow: 0px 0px 10px rgb(16, 223, 85);
}

.confirm {
  margin: 10px;
 border: ridge 2px chartreuse;
 background: linear-gradient(rgba(21, 255, 0, 0.137),rgba(21, 255, 0, 0.788));
 color: rgb(255, 255, 255);
position: relative;
bottom :-25%;
float: right;;
}
