

h2{
  text-align: center;
  width:100%;
  margin:10px;
border-radius: 10px;
background: linear-gradient(#c51d41b2,#00000075);
box-shadow: 0px 0px 15px 1px crimson;
border-top-right-radius: 50%;
border-top-left-radius: 50%;}
h3 {
  text-align: center;
  font-size: 1.4em;
}
 table thead {
  background: url(../../../assets/img/imgMosaico.jpg) !important;
  background-position: center;
 }
table img {
  width: 15%;
  max-width: 70px;
  height: auto;
 border-radius: 50%;
 }
.table{
margin: 20px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.table thead th{
background: linear-gradient(#c51d41b2,#00000075);
color: rgb(71, 255, 47);
text-shadow: 0px 0px 6px greenyellow;
font-family: 'Pacifico', cursive;
border-left: ridge 2px whitesmoke;
border-right: ridge 2px whitesmoke;
}
button {
  float: right;
border: ridge 2px crimson;
background: linear-gradient(rgba(220, 20, 60, 0.294),rgba(220, 20, 60, 0.781));
color: whitesmoke;
margin-right: 10px;
}
button:hover {
box-shadow: 0px 0px 15px crimson;
font-weight: bold;
text-shadow: 0px 0px 10px white;
}
.table tfoot button{
float: right;
color: white;
background: linear-gradient(rgba(172, 255, 47, 0.281),rgba(172, 255, 47, 0.808));
border-color: greenyellow;



}
.table tfoot button:hover{

  box-shadow: 0px 0px 15px chartreuse;
  }
.table tfoot {
background: rgba(0, 0, 0, 0.5);
}
