
<div class = "container">
    <div class="row"> <h2 class="titulo"><img src="/../../assets/img/Orden.png" alt=""></h2></div>
    <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th> Producto</th>
        <th> Cantidad</th>
        <th>Ingredientes extras</th>
        <th>Precio bruto c/u</th>
        <th>Iva c/u</th>
         <th>Precio total</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of productos'>
        <td> <span> <img src="{{product.urlImg}}" alt="">{{product.nombre}} </span></td>
        <td><span> <p *ngIf="product.cantidad==1; else masUnidades">
            1 unidad
          </p>
          <ng-template #masUnidades>
              <p> {{product.cantidad}} unidades </p>
          </ng-template></span></td>
        <td><span *ngIf="product.ing1!='Ninguno' && product.ing2!='Ninguno'">{{product.ing1}} y {{product.ing2}}</span>
          <span *ngIf="product.ing1!='Ninguno' && product.ing2=='Ninguno'">{{product.ing1}}</span>
          <span *ngIf="product.ing1=='Ninguno' && product.ing2!='Ninguno'">{{product.ing2}}</span>
          <span *ngIf="product.ing1=='Ninguno' && product.ing2=='Ninguno'">Ninguno</span></td>
        <td><span> {{product.precio}} $</span> </td>
        <td> <span>{{product.iva}} $</span></td>
        <td> <span>{{product.precioTotal}} $</span></td>
        <td>
          <button type="button" (click)="deleteProduct($event,product)" class="btn"><i class="far fa-times-circle"></i>Quitar</button>

      </tr>
    </tbody>
    <tfoot>
        <tr *ngIf="productos.length!= 0 ; else sinProduct">

          <td colspan="6" > <span>
              Costo del subtotal de la orden: [ {{subTotal}} $]
            <hr>
            Costo total de la orden: [{{Total}} $]

          </span> <hr>
            </td>
          <td > <button #myModal type="button" class="btn" data-toggle="modal" data-target="#myModal">Proceder <i class="fa-shopping-cart"></i>
          </button>
  </td>
         </tr>
         <ng-template #sinProduct>

            <tr>
               <td colspan="7"> <span> No tiene productos en el carrito</span></td>
            </tr>

          </ng-template>
    </tfoot>
  </table>

</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Dirreccion de envio</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form action="#paypal-checkout-button">
      <div class="modal-body">
        <input [(ngModel)] ="urbanizacion" name="urbanizacion" type="text" id="urbanizacion" placeholder="Ingrese urbanizacion" required >
       <input type="text" name="municipio" [(ngModel)] ="municipio" id="municipio" placeholder="Ingrese municipio" required>
       <input type="text" name="calle" [(ngModel)] ="calle" id="calle" placeholder="Ingrese calle o avenida" required>
       <input type="text" name="casa" [(ngModel)] ="casa" id="casa" placeholder="Ingrese nombre de eficio o referencia extra" required>
       <div class="paypal" id="paypal-checkout-btn"></div>
      </div>

      <!-- Modal footer -->
    </form>

    </div>
  </div>
</div>

</div>
