<app-navegacion></app-navegacion>
<div class = "cuerpo">
<div class = "container">
  <h2>Orden</h2>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Compra</th>
        <th>nro de elementos</th>
        <th>Precio</th>
        <th>IVA</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>El avioncito</td>
        <td>1</td>
        <td>3000</td>
        <td> 32</td>
        <td>
          <button type="button" class="btn">Quit</button>
<button type="button" class="btn">Add</button></td>
      </tr>
      <tr>
        <td>Extra cocinado</td>
        <td>1</td>
        <td>6000000</td>
        <td>213</td>
        <td>
          <button type="button" class="btn">Quit</button>
<button type="button" class="btn">Add</button></td>
      </tr>
      <tr>
        <td>Hamburguesa</td>
        <td>1</td>
        <td>2</td>
        <td>32</td>
        <td>
          <button type="button" class="btn">Quit</button>
          <button type="button" class="btn">Add</button></td>
      </tr>

    </tbody>
    <tfoot>
        <tr> <td></td>
          <td> <p>nro total </p> <span></span>

          </td>
          <td> <p>subtotal</p> <span></span></td>
          <td> <p>total</p> <span></span></td>
          <td></td>
         </tr>
        <tr>
          <td colspan="5">
            <button type="button" class="btn">Proceder</button>
        </tr></tfoot>
  </table>

</div>
</div>
