

 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  }
h2{
  text-align: center;
  width:100%;
  padding-bottom: 5px;
  margin:10px;
border-radius: 10px;
background: linear-gradient(#c51d41b2,#00000075);
box-shadow: 0px 0px 15px 1px crimson;
border-top-right-radius: 50%;
border-top-left-radius: 50%;}
h3 {
  text-align: center;
  font-size: 1.4em;
}
 table thead {
  background: url(../../../assets/img/imgMosaico.jpg) !important;
  background-position: center;
 }
table img {
  width: 15%;
  max-width: 70px;
  height: auto;
 border-radius: 50%;
 }
.table{
margin: 20px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.table thead th{
background: linear-gradient(#c51d41b2,#00000075);
color: rgb(16, 223, 205);
text-shadow: 0px 0px 4px crimson;
font-family: 'Pacifico', cursive;
border-left: ridge 2px whitesmoke;
border-right: ridge 2px whitesmoke;
}
button {
  float: right;
border: ridge 2px crimson;
background: linear-gradient(rgba(220, 20, 60, 0.294),rgba(220, 20, 60, 1));
color: whitesmoke;
margin-right: 10px;
font-family: 'Oleo Script',cursive;
}
button:hover {
box-shadow: 0px 0px 15px crimson;
font-weight: bold;
text-shadow: 0px 0px 10px white;
}
.table tfoot button{
float: right;
color: white;
background: linear-gradient(rgba(172, 255, 47, 0.281),rgba(172, 255, 47, 1));
border-color: greenyellow;



}
tfoot td span{
  float: right;
  box-shadow: 0px 0px 10px crimson;

border-radius: 16px;
text-shadow: 0px 0px 3px rgb(255, 255, 255);
padding: 7px;
}
h2 img{
  width: 70%;

  max-width: 300px;

  height: auto;
 border-radius: 10px;

}
::-webkit-scrollbar {width: 9px; height: 6px; background: rgb(0, 0, 0);}
::-webkit-scrollbar-thumb {background-color:crimson ; box-shadow:0px 0px 10px crimson;border: 1px ridge crimson;}

  h2 img {
    padding:0px;
    margin:0px;
  }
.table tfoot button:hover{

  box-shadow: 0px 0px 15px chartreuse;
  }
.table tfoot {
background: rgba(0, 0, 0, 0.5);
}
