
<div class = "container">
    <div class="row"> <h2><img src="/../../assets/img/Orden.png" alt=""></h2></div>
    <div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th> <h3>Producto</h3></th>
        <th> <h3>Cantidad</h3></th>
        <th> <h3>Ingredientes extras</h3></th>
        <th><h3>Precio bruto c/u</h3></th>
        <th><h3>Iva c/u</h3></th>
         <th><h3>Precio total</h3></th>
        <th><h3>Opciones</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of productos'>
        <td> <span> <img src="{{product.urlImg}}" alt="">{{product.nombre}} </span></td>
        <td><span> {{product.cantidad}}</span></td>
        <td><span *ngIf="product.ing1!='Ninguno' && product.ing2!='Ninguno'">{{product.ing1}} y {{product.ing2}}</span>
          <span *ngIf="product.ing1!='Ninguno' && product.ing2=='Ninguno'">{{product.ing1}}</span>
          <span *ngIf="product.ing1=='Ninguno' && product.ing2!='Ninguno'">{{product.ing2}}</span>
          <span *ngIf="product.ing1=='Ninguno' && product.ing2=='Ninguno'">Ninguno</span></td>
        <td><span> {{product.precio}} $</span> </td>
        <td> <span>{{product.iva}} $</span></td>
        <td> <span>{{product.precioTotal}} $</span></td>
        <td>
          <button type="button" (click)="deleteProduct($event,product)" class="btn"><i class="far fa-times-circle"></i>Quitar</button>

      </tr>
    </tbody>
    <tfoot>
        <tr *ngIf="productos.length!==0; else sinProduct">

          <td colspan="6" > <span>Costo total de la orden: {{Total}} $</span> </td>
          <td > <button type="button" class="btn" routerLink='/direccion' >Proceder <i class="fa-shopping-cart"></i>
          </button></td>
         </tr>
         <ng-template #sinProduct>

            <tr>
               <td colspan="7"> <span> No tiene productos en el carrito</span></td>
            </tr>

          </ng-template>
    </tfoot>
  </table>
</div>

</div>
