




  .list-group-item{
    background: linear-gradient(#c51d41b2,#00000075);
      color: rgb(255, 255, 255);
      font-family: 'Oleo Script', cursive;
      cursor: pointer;
    }

   .list-group{
       margin-top: 0px;
       margin-bottom: 20px;
       padding-top: 0px;
       box-shadow: 0px 0px 15px 1px black;
   }
       .list-group-item:hover{
       color: rgb(17, 207, 10);
       font-weight: bold;
       background: rgba(0, 0, 0, 0.5);
       transition: all .5s ease;


       }
       .hidden {
        display: none;
      }
       strong img {
        width: 15%;
        max-width: 70px;
        height: auto;
       border-radius: 50%;



       }
       h2{
         display: block;
         width:100%;
           text-align: center;
           padding: 0px;
           color: rgb(255, 255, 255);
           font-size: 1.5em;
           width: 100%px;
           margin: 10px;
        font-family: 'Pacifico',cursive;
         border-radius: 10px;
         background: linear-gradient(#c51d41b2,#00000075);
         box-shadow: 0px 0px 15px 1px crimson;
         border-top-right-radius: 50%;
         border-top-left-radius: 50%;
         cursor: pointer;
       }

.table{
margin: 20px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-family: fantasy;

}
.table thead{
  background: url(../../../assets/img/imgMosaico.jpg) !important;
}
 .table thead th{
   text-align:center;
   background: linear-gradient(#eb1644c7,#00000096);
  font-family: 'Pacifico',cursive;
  border-left: ridge 1px whitesmoke;
  border-right: ridge 1px whitesmoke;
  border: 1px white ridge;
color:rgb(16, 223, 205);
text-shadow: 0px 0px 4px greenyellow;
font-weight: bold;
 }
 .baila{
  width: 70%;

  max-width: 300px;

  height: auto;
 border-radius: 10px;
}
.list-group img{
  width: 10%;
  max-width: 70px;
  height: auto;
}

  .btn-primary {
   border: ridge 1px crimson;
   border-radius:15px;
   background: #dc143cab;
   background: radial-gradient(#dc143c7c,#dc143cf6,black);
   color: whitesmoke;
   margin-right: 0px;
   float: right;
 }
 .btn-primary[type="submit"] {
  border: ridge 2px rgb(43, 220, 20);
   background: #25dc14ab;
   background: linear-gradient(#32dc142f,#4ddc14da);

}
 .btn-secondary {
  border: ridge 1px rgb(16, 223, 205);
  border-radius:15px;
  background: radial-gradient(rgba(16, 223, 205,0.1),rgba(16, 223, 205, 0.6),black);
  color: whitesmoke;
  margin-right: 10px;
  float: right;
}
 button:focus{
  outline :0 !important;
}
button:active{
 border:none;
}
 .btn-primary:hover {
  box-shadow: 0px 0px 15px crimson;
  font-weight: bold;
}
.btn-secondary:hover {
  box-shadow: 0px 0px 15px rgb(16, 223, 205);
  font-weight: bold;
}
 button[type="submit"]:hover{
  box-shadow: 0px 0px 15px chartreuse;
  font-weight: bold;

}
.table tfoot button, table .btn-block{
  float: right;
  color: white;
  border-color: greenyellow;
  background: linear-gradient(#acff2f57,rgba(172, 255, 47, 0.829));
}
.table tfoot button:hover, table .btn-block:hover{
  text-shadow: 0px 0px 4px white;
  box-shadow: 0px 0px 15px chartreuse;

  }
  .table tbody .btn-primary:hover {

    text-shadow: 0px 0px 7px white;
  }

.table tfoot {
  background: rgba(0, 0, 0, 0.5);
}
.col-lg-3 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0px 0px 15px black;
}
.form-group {
  text-align: center;
}
.form-group input, .form-group select,.form-group textarea{
  background: rgba(0, 0, 0, 0.5);
  border: crimson 2px ridge;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #11cf0ab3;
}
.form-group input:focus,.form-group select:focus,.form-group textarea:focus{
  box-shadow: 0px 7px 15px crimson;
  transition: all .5s ease;
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: rgb(11, 189, 11);
}

.custom-control-label::before {
  background-color: #c50b14a8;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0eb10e;
}
.custom-select:disabled {
  color: #f70000;
  background-color: #15171a;
}
.custom-select:focus::-ms-value {
  color: #33be21;
  background-color: rgb(231, 36, 36);
}
.custom-select:focus {
  border-color: #da0000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}


.custom-file-input:focus ~ .custom-file-label {
  border-color: crimson;
  box-shadow: 0 2px 0 0.2rem rgba(255, 0, 0, 0.295);
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #ff8080;
}

.custom-file-input:disabled ~ .custom-file-label {
  background-color: #000000;
}

.custom-file-label {

  color: chartreuse;
  background-color: rgba(0, 0, 0,0.5);
  border: 2px ridge crimson
}


.search-form .container {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 position: relative;
 margin: auto;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 width: 210px;
 height: 60px;
}
.search-form .container .search {
 position: absolute;
 margin: auto;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 60px;
 height: 60px;
 background: radial-gradient(rgba(9, 255, 0, 0.1),rgba(9, 255, 0, 0.4),rgba(0, 0, 0, 0.9));
 box-shadow: 0px 0px 10px chartreuse;
 border-radius: 50%;
 transition: all 1s;
 z-index: 4;
 box-shadow: 0 0 25px 0 chartreuse;
}
.search-form .container .search:hover {
 cursor: pointer;
}
.search-form .container .search::before {
 content: "";
 position: absolute;
 margin: auto;
 top: 22px;
 right: 0;
 bottom: 0;
 left: 22px;
 width: 2px;
 height: 2px;
 background: white;
 transform: rotate(45deg);
 transition: all .5s;
}
.search-form .container .search::after {
 content: "";
 position: absolute;
 margin: auto;
 top: -5px;
 right: 0;
 bottom: 0;
 left: -5px;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 border: 2px solid white;
 transition: all .5s;
}
.search-form .container input {
 font-family: 'Inconsolata', monospace;
 position: absolute;
 margin: auto;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 250px !important;
 height: 40px;
 outline: none;
 border: none;
 background: rgba(0, 0, 0, 0.5);
 color: rgb(16, 223, 205);
 text-shadow: 0 0 10px rgb(16, 223, 205);
 padding: 0 0px 0 20px;
 border-radius: 30px;
 box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
 transition: all 1s;
 opacity: 0;
 z-index: 6;
 font-weight: bolder;
 letter-spacing: 0.1em;
}
.search-form .container input:hover {
 cursor: pointer;
}
.search-form .container input:focus {
 width: 300px;
 opacity: 1;
 cursor: text;
}
.search-form .container input:focus ~ .search {
 right: -255px;
 background: radial-gradient(rgba(220, 20, 60, 0.4),rgba(220, 20, 60, 0.7),rgba(0, 0, 0, 1));
 z-index: 6;
 box-shadow: 0 0 25px 0 crimson;
}
.search-form .container input:focus ~ .search::before {
 top: 0;
 left: 0;
 width: 25px;
}
.search-form .container input:focus ~ .search::after {
 top: 0;
 left: 0;
 width: 25px;
 height: 2px;
 border: none;
 background: white;
 border-radius: 0%;
 transform: rotate(-45deg);
}
.search-form .container input::placeholder {
 color: white;
 opacity: 0.5;
 font-weight: bolder;
}
.search-form label {
  color :white;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
   text-align:center;
   font-size:25px;
   text-shadow:0px 0px 10px chartreuse;
   font-family: 'Oleo Script', cursive;
   margin: 0px ;

  }
  h4{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 10px;
   color:white;
    text-align:center;
    font-size:28px;
    text-shadow: 0px 0px 10px rgb(16, 223, 205);
    font-family: 'Oleo Script', cursive;
  }

  ul {
    position: absolute;
    top: 20px;
    color: rgb(16, 223, 205);
    text-shadow: 0px 0px 10px rgb(16, 223, 205);
    bottom: 20px;
    height: 90px;
    left: 20px;
    right: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    margin: 10px;
    padding: 0;
    border: 2px ridge crimson;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: 'Oleo Script', cursive;
    -webkit-overflow-scrolling: touch;
  }

  li {
    padding: 10px 20px;
    border-bottom: 1px solid crimson;
  }
  li:last-child {
    border-bottom: none;
  }
  li:nth-child(even) {
    background:  rgba(255, 0, 98, 0.5);
  }
  ul .fa-times-circle{
    color:red;

  }
  ::-webkit-scrollbar {width: 9px; height: 3px; background: rgb(0, 0, 0);}
::-webkit-scrollbar-thumb {background-color:crimson ; box-shadow:0px 0px 10px crimson;border: 1px ridge crimson;}

 li div{
 display:inline-block;
 width : 10%;
}
li div:hover{
  display:inline-block;
  width : 10%;
  cursor:pointer;
 }
