




  .list-group-item{
    background: linear-gradient(#c51d41b2,#00000075);
      color: rgb(255, 255, 255);
      font-family: 'Oleo Script', cursive;
      cursor: pointer;
    }

   .list-group{
       margin-top: 0px;
       margin-bottom: 20px;
       padding-top: 0px;
       box-shadow: 0px 0px 15px 1px black;
   }
       .list-group-item:hover{
       color: rgb(17, 207, 10);
       font-weight: bold;
       background: rgba(0, 0, 0, 0.5);
       transition: all .5s ease;


       }
       .hidden {
        display: none;
      }
       strong img {
        width: 15%;
        max-width: 70px;
        height: auto;
       border-radius: 50%;



       }
       h2{
         display: block;
         width:100%;
           text-align: center;
           padding: 0px;
           color: rgb(255, 255, 255);
           font-size: 1.5em;
           width: 100%px;
           margin: 10px;
        font-family: 'Pacifico',cursive;
         border-radius: 10px;
         background: linear-gradient(#c51d41b2,#00000075);
         box-shadow: 0px 0px 15px 1px crimson;
         border-top-right-radius: 50%;
         border-top-left-radius: 50%;
         cursor: pointer;
       }

.table{
margin: 20px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-family: fantasy;

}
.table thead{
  background: url(../../../assets/img/imgMosaico.jpg) !important;
}
 .table thead th{
   text-align:center;
   background: linear-gradient(#eb1644c7,#00000096);
  font-family: 'Pacifico',cursive;
  border-left: ridge 1px whitesmoke;
  border-right: ridge 1px whitesmoke;
  border: 1px white ridge;
color: rgb(87, 243, 39);
text-shadow: 0px 0px 4px greenyellow;
font-weight: bold;
 }
 .baila{
  width: 70%;

  max-width: 300px;

  height: auto;
 border-radius: 10px;
}
.list-group img{
  width: 10%;
  max-width: 70px;
  height: auto;
}

  .btn-primary {
   border: ridge 2px crimson;
   background: #dc143cab;
   background: linear-gradient(#dc143c2f,#dc143cda);
   color: whitesmoke;
   margin-right: 10px;
   float: right;
 }
 .btn-primary[type="submit"] {
  border: ridge 2px rgb(43, 220, 20);
   background: #25dc14ab;
   background: linear-gradient(#32dc142f,#4ddc14da);

}
 .btn-secondary {
  border: ridge 2px rgb(140, 20, 220);
  background: linear-gradient(rgba(140, 20, 220,0.2),rgba(140, 20, 220, 0.897));
  color: whitesmoke;
  margin-right: 10px;
  float: right;
}
 button:focus{
  outline :0 !important;
}
button:active{
 border:none;
}
 .btn-primary:hover {
  box-shadow: 0px 0px 15px crimson;
  font-weight: bold;
}
.btn-secondary:hover {
  box-shadow: 0px 0px 15px rgb(140, 20, 220);
  font-weight: bold;
}
 button[type="submit"]:hover{
  box-shadow: 0px 0px 15px chartreuse;
  font-weight: bold;

}
.table tfoot button{
  float: right;
  color: white;
  border-color: greenyellow;
  background: linear-gradient(#acff2f57,rgba(172, 255, 47, 0.829));
}
.table tfoot button:hover{
  text-shadow: 0px 0px 4px white;
  box-shadow: 0px 0px 15px chartreuse;

  }
  .table tbody .btn-primary:hover {

    text-shadow: 0px 0px 7px white;
  }

.table tfoot {
  background: rgba(0, 0, 0, 0.5);
}
.search-form .form-group {
  float: left !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0,0.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px ridge crimson;


}
.col-lg-3 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0px 0px 15px black;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  padding-bottom: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  font-family: 'Oleo Script', cursive;
  color: #00ff15;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: crimson;
  left: initial;
  font-size: 14px;
}
.form-group {
  text-align: center;
}
.form-group input, .form-group select,.form-group textarea{
  background: rgba(0, 0, 0, 0.5);
  border: crimson 2px ridge;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #11cf0ab3;
}
.form-group input:focus,.form-group select:focus,.form-group textarea:focus{
  box-shadow: 0px 7px 15px crimson;
  transition: all .5s ease;
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: rgb(11, 189, 11);
}

.custom-control-label::before {
  background-color: #c50b14a8;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0eb10e;
}
.custom-select:disabled {
  color: #f70000;
  background-color: #15171a;
}
.custom-select:focus::-ms-value {
  color: #33be21;
  background-color: rgb(231, 36, 36);
}
.custom-select:focus {
  border-color: #da0000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}


.custom-file-input:focus ~ .custom-file-label {
  border-color: crimson;
  box-shadow: 0 2px 0 0.2rem rgba(255, 0, 0, 0.295);
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #ff8080;
}

.custom-file-input:disabled ~ .custom-file-label {
  background-color: #000000;
}

.custom-file-label {

  color: chartreuse;
  background-color: rgba(0, 0, 0,0.5);
  border: 2px ridge crimson
}


