<app-navegacion></app-navegacion>
<div class="cuerpo">

  <div class="container">
    <h2>Articulos vigentes</h2>
    <div class="row">
    <div class="col-lg-3">

        <h2 class="my-4">uMakeIt</h2>
        <div class="container">
        <div class="row">

            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control" name="search" id="search" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
          </div>
    </div>
      <div class="list-group">

        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>

    </div>

    <div class="col-lg-9">
<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Compra</th>
          <th>Fecha</th>
          <th>Precio</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>El avioncito</td>
          <td>9/11/01</td>
          <td>3000</td>
          <td><button type="button" class="btn">Quit</button>
            <button type="button" class="btn">Edit</button></td>
        </tr>
        <tr>
          <td>Extra cocinado</td>
          <td>14/08/08</td>
          <td>6000000</td>
          <td><button type="button" class="btn">Quit</button>
            <button type="button" class="btn">Edit</button></td>
        </tr>
        <tr>
          <td>Hamburguesa</td>
          <td>25/09/18</td>
          <td>2</td>
          <td><button type="button" class="btn">Quit</button>
            <button type="button" class="btn">Edit</button></td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan =4>
          <button type="button" class="btn" routerLink='/menu'>Crear nuevo producto</button>
      </td> </tr> </tfoot>
    </table>

  </div>
  </div>
</div>
  </div>
</div>
