
<app-navegacion></app-navegacion>
<app-encabezado></app-encabezado>
<div class="cuerpo">

  <div class="container">
    <h2>Articulos vigentes</h2>
    <div class="row">
    <div class="col-lg-3">

        <h2 class="my-4">uMakeIt</h2>
        <div class="container">
        <div class="row">

            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control" name="search" id="search" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
          </div>
    </div>
      <div class="list-group">

        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>

    </div>

    <div class="col-lg-9">
<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><h3>Compra</h3></th>
          <th><h3>Fecha</h3></th>
          <th><h3>Precio</h3></th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <span>El avioncito</span> </td>
          <td><span>9/11/01</span> </td>
          <td><span>3000</span> </td>
          <td><button type="button" class="btn">Quit</button>
            <button type="button" class="btn">Edit</button></td>
        </tr>
        <tr>
          <td><span>Extra cocinado</span> </td>
          <td><span>14/08/08</span> </td>
          <td> <span>6000000</span>
            </td>
          <td><button type="button" class="btn">Quit</button>
            <button type="button" class="btn">Edit</button></td>
        </tr>
        <tr>
            <td> <span>Hamburguesa</span> </td>
            <td><span>9/11/01</span> </td>
            <td><span>3000</span> </td>
          <td><button type="button" class="btn">Quit</button>
            <button type="button" class="btn">Edit</button></td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan =4>
          <button type="button" class="btn" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1" >Crear nuevo producto</button>
        </td>
      </tr>
        <tr> <td colspan="4"> <div class="collapse" id="collapseExample1">
            <form action="">
                <div class="form-group">
                    <label for="NameProduct">Nombre del producto</label>
                    <input type="text" class="form-control" id="NameProduct" aria-describedby="emailHelp" placeholder="Nombre del producto">
                  </div>
                  <div class="form-group">
                    <label for="nroInv1">Nro en el inventario</label>
                    <input type="text" class="form-control" id="nroInv1" placeholder="Nro Invnetario">
                  </div>
                  <div class="form-group">
                      <label for="Imagen">Imagen del producto</label>
                      <input type="file" class="form-control" id="Imagen">
                    </div>
                  <button type="submit" class="btn btn-primary">Submit</button>

            </form>
          </div>
      </td> </tr> </tfoot>
    </table>

  </div>
  </div>
</div>
  </div>
</div>
