*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family:'Pacifico', cursive;
}
 .cuerpo {
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5px;
  padding-top:5px;
 }

.contenedorF{
    background: rgba(0,0,0,.7);
    border: 4px ridge #d93300;
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
   padding: 40px;
}


.contenedorF .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedorF h2{
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: center;

}
.contenedorF .toggle:hover{
  border-top: 2px ridge crimson;
  border-bottom: 2px ridge #f3e309;

}

.contenedorF .toggle span{
   letter-spacing: 1px;

}
.contenedorF .toggle span a{

    color: whitesmoke;

 }
.contenedorF .toggle span a:hover{
    text-decoration: none;
    color: greenyellow;
    text-shadow: 0px 0px 10px greenyellow;

 }

 .contenedorF input[type="text"],
 .contenedorF input[type="password"],
 .contenedorF input[type="email"]{
   outline: none;
   display: block;
   width: 100%;
   padding: 10px 15px;
   margin: 0 0 20px 0;
   background: rgba(0,0,0,.5);
   color: white;
   border: ridge 2px crimson;
   border-radius: 2px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 6px 10px crimson;
   box-sizing: border-box;
   font-size: 14px;
   font-weight:normal;
   transition: all .5s ease;
 }

.contenedorF input[type="text"]:focus,
.contenedorF input[type="password"]:focus,
.contenedorF input[type="email"]:focus {
    box-shadow: 0px 6px 10px  #f3e309;
}

.contenedorF input[type="submit"] {
  background: rgba(8, 153, 15, 0.5);
  color: #FFF;
  width: 100%;
  border-radius: 10px;
  border: 2px ridge rgb(20, 175, 28);
  padding: 10px 0;
  font-size: 16px;
  font-weight: normal;

  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedorF input[type="submit"]:hover {
  font-weight: bold;
  box-shadow: 0px 0px 20px greenyellow;
  text-shadow: 0px 0px 4px white;

}

h2{
  font-family: 'Frijole',cursive;
  text-shadow: 0px 0px 4px white;
}

.btn-primary {
  margin-top: 15px;
  padding: 5px;
  border: 2px ridge rgb(250, 102, 3);
   background: rgba(255, 81, 0, 0.5);
   border-radius: 10px;
}
.btn-primary b {
  display: inline-block;
  margin-left: 5px;
}
.btn-primary:hover {
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 15px coral;
  transition: all .5s ease;
}
.fa-google {
  margin:0px;
   padding: 2px;
   border-radius: 10px;
   border: ridge 1px coral;
   position: relative;

}
