*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family:'Acme', sans-serif;
  letter-spacing: 1.5px;
}

.contenedorF{
  background: radial-gradient(rgba(116, 7, 49, 0.3),rgba(0, 0, 0, 0.5),rgba(0, 0, 0,1));
    border: 2px ridge #cf0520;
    box-shadow: 0px 0px 10px #cf0520;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}


.contenedorF .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedorF h1{
  margin: 0 0 28px 0;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  font-family: 'Oleo Script',cursive;
  text-shadow: 0px 0px 10px crimson;
  font-size: 45px;

}
.contenedorF .toggle:hover{
  border-top: 2px ridge chartreuse;
  border-bottom: 2px ridge chartreuse;
}

.contenedorF .toggle span{
   letter-spacing: 1px;
   font-family: 'Acme', sans-serif;
}
.contenedorF .toggle span a{

    color: whitesmoke;

 }
.contenedorF .toggle span a:hover{
    text-decoration: none;
    color: rgb(16, 223, 205);
    text-shadow: 0px 0px 10px ;

 }

 .contenedorF input[type="text"],
 .contenedorF input[type="password"],
 .contenedorF input[type="email"]{
   outline: none;
   display: block;
   width: 100%;
   padding: 10px 15px;
   margin: 0 0 20px 0;
   background: rgba(0,0,0,.5);
   color: white;
   border: ridge 2px #cf0520;
   border-radius: 2px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 4px 5px #cf0520;
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight:normal;
   transition: all .5s ease;
 }

.contenedorF input[type="text"]:focus,
.contenedorF input[type="password"]:focus,
.contenedorF input[type="email"]:focus {
    box-shadow: 0px 6px 10px  rgb(16, 223, 205);
}

.contenedorF input[type="submit"] {
  background: linear-gradient(rgba(21, 255, 0, 0.4),rgb(21, 255, 0));
  color: #FFF;
  width: 100%;
  border-radius: 10px;
  border: 2px ridge rgb(127, 255, 0);
  padding: 10px 0;
  font-family:'Timmana', sans-serif;;
  font-size: 21px;
  font-weight: bold;

  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedorF input[type="submit"]:hover ,.btn-primary:hover {
  font-weight: bold;
  box-shadow: 0px 0px 20px rgb(127, 255, 0);
  text-shadow: 0px 0px 4px white;
}
  .contenedorF input[type="submit"]:focus ,.btn-primary:focus{
  outline :0 !important;
  }
  .contenedorF input[type="submit"]:active ,.btn-primary:active {
    border:none;
  }


.btn-primary {
  margin-top: 15px;
  border: 2px ridge rgb(250, 102, 3);
  background:none;
   background-image: linear-gradient(rgba(255, 81, 0, 0.4), rgba(255, 81, 0, 1));
   border-radius: 10px;
   padding: 10px 0;
}
.btn-primary b {
  display: inline-block;
  margin-left: 5px;

}
.btn-primary:hover {
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 15px coral;
  transition: all .5s ease;
}

.fa-google {
  margin:0px;
   padding: 2px;
   border-radius: 10px;
   border: ridge 1px coral;
   position: relative;

}
