<app-encabezado></app-encabezado>
<div class = "cuerpo">
  <div class= "contenedorF">
  <div class = "toggle">
    <span> <a routerLink ="/registro">Registrarse
    </a> </span>
  </div>
    <div class= "formular">
  <h2> Login </h2>
 <form action="">

<input type="text" placeholder="Ingrese su usuario" required>
<input type="password" placeholder="Ingrese su contrasena" required>
<input type="submit" value="Inicia Sesion" routerLink="/menu">
<i class="fa fa-facebook-official" arial-hidden ="true"></i>
<i class="fa fa-heart"></i>
<i class="fa fa-car"></i>
<i class="fa fa-file"></i>
<i class="fa fa-bars"></i><i class="material-icons">cloud</i>
<i class="material-icons">favorite</i>
<i class="material-icons">attachment</i>
<i class="material-icons">computer</i>
<i class="material-icons">traffic</i>
</form>
    </div>
  </div>

</div>
