<app-encabezado></app-encabezado>
<div class = "cuerpo">
  <div class= "contenedorF">
  <div class = "toggle">
    <span> <a routerLink ="/registro">Registrarse
    </a> </span>
  </div>
    <div class= "formular">
  <h2> Login </h2>
 <form action="">

<input type="text" placeholder="Ingrese su usuario" required>
<input type="password" placeholder="Ingrese su contrasena" required>
<input type="submit" value="Inicia Sesion" routerLink="/menu">
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/menu"> <i class="fab fa-google"></i> <b> Inicia sesion con Google </b></button>

</form>
    </div>
  </div>

</div>
