*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family:'Acme', sans-serif;
}


.contenedorF{
    background: radial-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9));
    border: 4px ridge #cf0520;
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
   padding: 40px;
}


.contenedorF .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedorF h2{
  margin: 0 0 28px 0;
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  font-family: 'Oleo Script',cursive;
  text-shadow: 0px 0px 4px rgb(16, 223, 205);
}
.contenedorF .toggle:hover{
  border-top: 2px ridge #f3e309;
  border-bottom: 2px ridge #f3e309;

}

.contenedorF .toggle span{
   letter-spacing: 1px;

}
.contenedorF .toggle span a{

    color: whitesmoke;

 }
.contenedorF .toggle span a:hover{
    text-decoration: none;
    color: rgb(16, 223, 205);
    text-shadow: 0px 0px 10px rgb(16, 223, 205);
 }

 .contenedorF input[type="text"],
 .contenedorF input[type="password"],
 .contenedorF input[type="email"]{
   outline: none;
   display: block;
   width: 100%;
   padding: 10px 15px;
   margin: 0 0 20px 0;
   background: rgba(0,0,0,.5);
   color: white;
   border: ridge 2px #cf0520;
   border-radius: 2px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 3px 5px #cf0520;
   box-sizing: border-box;
   font-size: 16px;
   font-weight:normal;
   transition: all .5s ease;
 }

.contenedorF input[type="text"]:focus,
.contenedorF input[type="password"]:focus,
.contenedorF input[type="email"]:focus {
    box-shadow: 0px 6px 10px rgb(16, 223, 205);
}

.contenedorF input[type="submit"] {
  background: linear-gradient(rgba(2, 163, 2, 0.4),rgba(3, 173, 3, 1));
  color: #FFF;
  width: 100%;
  border-radius: 10px;
  border: 2px ridge rgb(20, 175, 28);
  padding: 10px 0;
  font-size: 20px;
  font-family:'Timmana', sans-serif;
  font-weight: bold;

  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedorF input[type="submit"]:hover {
  font-weight: bold;
  box-shadow: 0px 0px 20px greenyellow;
  text-shadow: 0px 0px 4px white;

}

h2{
  font-family: 'Frijole',cursive;
  text-shadow: 0px 0px 4px white;
}
