    <div class= "contenedorF">
      <div class = "toggle">
        <span>  <a routerLink ="/login"> Login
        </a> </span>
      </div>
        <div class= "formular">
      <h2> Registro</h2>
     <form action="">

    <input type="text" placeholder="Ingrese su usuario" required>
    <input type="email" placeholder="Ingrese su correo" required>
    <input type="password" placeholder="Ingrese su contrasena" required>
    <input type="password" placeholder="Ingrese su contrasena otra vez" required>
    <input type="submit" value="Registrarse" routerLink="/menu">
    </form>
        </div>
      </div>
