
<div class= "contenedorF">
      <div class = "toggle">
        <span>  <a routerLink ="/login"> Login
        </a> </span>
      </div>
        <div class= "formular">
      <h2> <img src="../../../assets/img/Registro.png" alt=""></h2>

     <form (ngSubmit) = "onSubmitAddUser()" >
    <input type="text" class="form-control" name="name" id ="name" [(ngModel)] ="usuario.userName" placeholder="Ingrese su nombre" required>
    <input type="email" class="form-control" name="email" id ="email" [(ngModel)] ="email" placeholder="Ingrese su correo" required>
    <input type="password" class="form-control" name="password" id ="password" [(ngModel)] ="password" placeholder="Ingrese su correo" placeholder="Ingrese su contrasena" required>
    <input type="submit" value="Registrarse" >
    </form>
        </div>
      </div>
