
<div class= "contenedorF">
      <div class = "toggle">
        <span>  <a routerLink ="/login"> Login
        </a> </span>
      </div>
        <div class= "formular">
      <div class="container logo"><img src="../../../assets/img/logo2.png"> </div>
      <h2> Registro</h2>

     <form (ngSubmit) = "onSubmitAddUser()" >
    <input type="text" class="form-control" name="name" id ="name" [(ngModel)] ="usuario.userName" placeholder="Ingrese su nombre" required>
    <input type="email" class="form-control" name="email" id ="email" [(ngModel)] ="email" placeholder="Ingrese su correo" required>
    <div class='alerta' *ngIf="passwor.touched && !passwor.valid">
        <div *ngIf="passwor.errors.minlength" style = " text-align: center; text-shadow: 0 0 7px black;"> La contraseña debe ser de al menos 6 caracteres </div>
      </div>
    <input type="password" #passwor='ngModel' class="form-control" name="password" id ="password" [(ngModel)]="password" placeholder="Ingrese su correo" placeholder="Ingrese su contrasena" minlength="6" maxlength="20" required>

    <input type="submit" value="Registrarse" >

    </form>
        </div>
      </div>
