<nav class="navbar navbar- bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand"> <img src="/../../assets/img/hotd.gif" alt=""></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <a >Usuario </a>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

      <li class="nav-item">
          <a class="nav-link" routerLink="/menu">Menu</a>
       </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cambiar">Cambiar contrasena</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orden">Orden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compras">Compras</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/administrador">Administrador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Salir</a>
      </li>
    </ul>
  </div>
</nav>
