*{
  color: aliceblue;
  font-family: 'Pacifico', cursive;
}
 a img {
   width: 70px;
   border-radius: 10px;
   border: solid 2px crimson;
 }
 a img:hover{

  border: solid 2px crimson;
  box-shadow: 0px 0px 15px 2px crimson;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    padding: 3px;

  }
  button{
    border: 3px ridge crimson;
  }
  .bg-dark {
    background-image: linear-gradient(red, black) !important;
   border-bottom: 2px ridge crimson;
  }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(43, 255, 0, 0.75);
    font-weight: bold;
  }
 .navbar-dark .navbar-toggler {
    color: rgba(9, 255, 0, 0.575);
    border-color: rgba(255, 0, 0, 0.527);
    background: rgba(0, 0, 0, 0.8);
  }

  .navbar-dark .navbar-toggler:hover{
   color: greenyellow;
   text-shadow: 0px 0px 10px greenyellow;
   box-shadow: 0px 0px 10px 2px rgb(220, 20, 20);
   transition: all .5s ease;

  }

  .navbar-dark .navbar-toggler:hover .fa-user , .nav-link:hover .fa-user-cog, .nav-link:focus .fa-user-cog, .nav-link:hover .fa-user-tie, .nav-link:focus .fa-user-tie , .nav-link:hover .fa-history, .nav-link:focus .fa-history
  , .nav-link:hover .fa-shopping-cart, .nav-link:focus .fa-shopping-cart , .nav-link:hover .fa-sign-out-alt, .nav-link:focus .fa-sign-out-alt,
  .nav-link:hover .fa-utensils, .nav-link:focus .fa-utensils {
    color: rgba(255, 0, 0, 0.527);
    transition: all .5s ease;

  }
  .nav-item{
     padding-left: 10px;

     }
  .nav-item:hover{

 border-radius: 10px;
 box-shadow: 0px 0px 2.5px 2.5px crimson;
 background: rgba(14, 14, 14, 0.7);
 text-shadow: 0px 0px 4px rgb(17, 207, 10);
 transition: all .5s ease;
  }
  .nav-link:hover {
    color: black;
  }

