
.navbar-brand img{
  width: 16%;
   height: auto;
}
 div img {
   width: 30%;
   height: auto;
   border-radius: 50%;
   box-shadow: 0px 0px 6px crimson;
 }
 .navbar-toggler:hover div img{

  border: solid 1px crimson;
  box-shadow: 0px 0px 15px 2px crimson;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    padding: 3px;

  }
  button{
    border: 3px ridge crimson;
  }
  .bg-dark {
    background: linear-gradient(rgba(255, 0, 119, 0.6), rgba(0, 0, 0, 0.9)), url(../../../assets/img/fondo5.jpg) !important;
   border-bottom: 0.7px ridge crimson;
  }
  .navbar-dark nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(43, 255, 0, 0.75);
    font-weight: bold;
  }
 .navbar-dark .navbar-toggler {
    color: whitesmoke;
    border-color: rgba(255, 0, 64, 0.575);
    background: linear-gradient(rgba(255, 0, 64, 0.575),black);
    border-radius: 16px;
    font-family: 'Oleo Script', cursive;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding:3px;
    margin:1px;
  }
  .navbar-dark .navbar-toggler:focus{
  outline :0 !important;
  }
  .navbar-dark .navbar-toggler:active {
    border:none;
  }
  .navbar-toggler{
    max-width: 200px;
    min-width: 50px;
  }
  .navbar-toggler div {
    padding:0px;
    margin: 0px;
  }

  .navbar-dark .navbar-toggler:hover {
   color: chartreuse;
   text-shadow: 0px 0px 10px greenyellow;
   box-shadow: 0px 0px 10px 2px rgb(255, 0, 64);
   transition: all .5s ease;
   font-weight: bold;
  }

  .navbar-dark .navbar-toggler:hover .fa-user , .nav-link:hover .fa-user-cog, .nav-link:focus .fa-user-cog, .nav-link:hover .fa-user-tie, .nav-link:focus .fa-user-tie , .nav-link:hover .fa-history, .nav-link:focus .fa-history
  , .nav-link:hover .fa-shopping-cart, .nav-link:focus .fa-shopping-cart , .nav-link:hover .fa-sign-out-alt, .nav-link:focus .fa-sign-out-alt,
  .nav-link:hover .fa-utensils, .nav-link:focus .fa-utensils {
    color: chartreuse;
    transition: all .5s ease;

  }
  .nav-item{
     padding-left: 4px;
   margin-bottom: 10px;
   border-radius: 10px;
   font-family: "Pacifico" , cursive;
     }
      .nav-link{
      color:white;
      }
  .nav-item:hover{
 box-shadow: 0px 2px 15px 1px rgba(255, 0, 106, 0.794);
 background: linear-gradient( rgba(255, 0, 106, 0.1),rgba(14, 14, 14, 0.1));
 text-shadow: 0px 0px 4px rgb(17, 207, 10);
 transition: all .5s ease;
  }
  .nav-link:hover {
    color: greenyellow;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(17, 207, 10);
  }

