*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 .cuerpo {
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5px;
  padding-top:5px;
  font-family: "Pacifico" , cursive;
 }

.contenedorF{
  background: rgba(0,0,0,.7);
  border: 4px ridge #d90000;
  max-width: 500px;
  width: 100%;
  margin: 48px auto;
  border-radius: 5px;
  color: #fff;
  position: relative;
 padding: 40px;
}



.contenedorF h2{
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
.contenedorF input[type="text"],
.contenedorF input[type="password"],
.contenedorF input[type="email"]{
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 0 0 20px 0;
  background: rgba(0,0,0,.5);
  color: white;
  border: ridge 2px crimson;
  border-radius: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 6px 10px crimson;
  box-sizing: border-box;
  font-size: 14px;
  font-weight:normal;
  transition: all .5s ease;
}

.contenedorF input[type="text"]:focus,
.contenedorF input[type="password"]:focus,
.contenedorF input[type="email"]:focus {
  box-shadow: 0px 6px 10px  #f3e309;
}

.contenedorF input[type="submit"] {
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  width: 100%;
  border-radius: 10px;
  border: 2px ridge rgb(20, 175, 28);
  padding: 10px 0;
  font-size: 16px;
  font-weight: normal;

  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedorF input[type="submit"]:hover {
  font-weight: bold;
  text-shadow: 0px 0px 4px white;
  box-shadow: 0px 0px 20px greenyellow;
}
h2{
  font-family: 'Frijole',cursive;
 text-shadow: 0px 0px 4px white;
}
