
 <app-navegacion></app-navegacion>
 <app-encabezado></app-encabezado>

 <div class= "cuerpo">
 <div class= "contenedorF">

  <div class= "formular">
<h2> Ingrese su dirreccion </h2>
<form action="">
<input type="text" placeholder="Ingrese su pais" required>
<input type="text" placeholder="Ingrese su ciudad" required>
<input type="text" placeholder="Ingrese su codigo postal" required>
<input type="text" placeholder="Especifique la direccion de envio" required>
<input type="Submit" value="Confirmar">
</form>
  </div>
</div>
</div>
