
 <app-navegacion></app-navegacion>
 <app-encabezado></app-encabezado>

 <div class= "cuerpo">
 <div class= "contenedorF">

  <div class= "formular">
<h2> Ingrese su dirreccion </h2>
<form action="">
<input type="text" placeholder="Ingrese su pais" required>
<input type="text" placeholder="Ingrese su ciudad" required>
<input type="text" placeholder="Ingrese su codigo postal" required>
<input type="text" placeholder="Especifique la direccion de envio" required>

<button type="button" class="btn btn-primary btn-lg btn-block"><i class="fab fa-cc-paypal"></i> Proceder a Pagar</button>
</form>
  </div>
</div>
</div>
