
.cuerpo {

  padding-top: 54px;
  padding-bottom: 20px;
margin-bottom: 0px;
margin-top : 0px;
background-image: url(/../../assets/img/Fondo1.jpg);
background-position: top;
background-repeat: no-repeat;
 background-size: cover;
color: red;
}
