


  h2{
    text-align: center;
    width:100%;
    margin:10px;
  border-radius: 10px;
  background: linear-gradient(#c51d41b2,#00000075);
  box-shadow: 0px 0px 15px 1px crimson;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;}
h3 {
  text-align: center;
  font-size: 1.4em;
  font-family: 'Oleo Script', cursive;
}

td img {
  width: 15%;
  max-width: 70px;
  height: auto;
 border-radius: 50%;
 }
.table{
margin: 20px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.table thead{
  background: url(../../../assets/img/imgMosaico.jpg) !important;
  background-position: center;
}
.table thead th{
background: linear-gradient(#c51d41b2,#000000c4);
text-align: center;
color: rgb(71, 255, 47);
text-shadow: 0px 0px 6px crimson;
font-family: 'Oleo Script', cursive;
font-size:23px;
border-left: ridge 2px whitesmoke;
border-right: ridge 2px whitesmoke;
}
button {
border: ridge 2px crimson;
background: linear-gradient(rgba(220, 20, 60, 0.294),rgba(220, 20, 60, 0.781));
color: whitesmoke;
margin-right: 10px;
}
button:hover {
box-shadow: 0px 0px 15px crimson;
font-weight: bold;
text-shadow: 0px 0px 10px white;
}
button:focus{
  outline :0 !important;
}
button:active{
  border: none;
}
.table tfoot button{
float: right;
color: white;
background: linear-gradient(rgba(172, 255, 47, 0.281),rgba(172, 255, 47, 0.808));
border-color: greenyellow;



}
.table tfoot button:hover{

  box-shadow: 0px 0px 15px chartreuse;
  }
.table tfoot {
background: rgba(0, 0, 0, 0.5);
}
.form-group select{
  background: rgba(0, 0, 0, 0.5);
  border: crimson 2px ridge;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #11cf0ab3;
}
.form-group{
  text-align: center;
}
.form-group select:focus{
  box-shadow: 0px 7px 15px crimson;
  transition: all .5s ease;
}
