<app-navegacion></app-navegacion>
<app-encabezado></app-encabezado>
<div class = "cuerpo">
  <div class="container">
    <h2>Ordenes pasadas</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Compra</th>
          <th>Fecha</th>
          <th>Precio</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>El avioncito</td>
          <td>9/11/01</td>
          <td>3000</td>
          <td><button type="button" class="btn"><i class="fas fa-shopping-cart"></i> Add</button></td>
        </tr>
        <tr>
          <td>Extra cocinado</td>
          <td>14/08/08</td>
          <td>6000000</td>
          <td><button type="button" class="btn"><i class="fas fa-shopping-cart"></i> Add</button></td>
        </tr>
        <tr>
          <td>Hamburguesa</td>
          <td>25/09/18</td>
          <td>2</td>
          <td><button type="button" class="btn"><i class="fas fa-shopping-cart"></i> Add</button></td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <td colspan =4>
                <button type="button" class="btn" routerLink='/orden'>Checkout</button>
      </td> </tr> </tfoot>
    </table>

  </div>
</div>
